@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --verde: hsl(75, 94%, 57%);
    --cinza: hsl(0, 0%, 20%);
    --cinza-escuro: hsl(0, 0%, 12%);
    --preto: hsl(0, 0%, 8%);
}


*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: var(--preto);
}


main{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .attribution{
        color: #fff;
        margin-top: 15px;
        
        .break{
            display: none;
        }

        a{
            color:  #f1f1f1f1;
            cursor: pointer;
            transition: .3s;
        }

        a:hover{
            color: var(--verde);
        }
    }
}

.card{
    background-color: var(--cinza-escuro);
    height: 620px;
    width: 450px;
    padding: 30px 22px;
    border-radius: 22px;

    .img{
        margin-bottom: 20px;
        img{
            width: 120px;
            border-radius: 50%;
        }
    }

    .id{
        margin-bottom: 20px;

        p{
            color: #fff;
            font-weight: 600;
            font-size: 35px;
            margin-bottom: 5px;
        }

        span{
            color: var(--verde);
            font-weight: 500;
            font-size: 20px;
        }
    }

    p{
        color: #ccc;
        font-size: 15px;
        margin-bottom: 20px;
    }

    .box{
        .box-item{
            margin-bottom: 10px;
            padding: 15px 0;
            background-color: var(--cinza);
            color: #fff;
            font-weight: 600;
            transition: .3s;
            cursor: pointer;
        }

        .box-item:hover{
            background-color: var(--verde);
            color: #000;
            font-weight: 600;
        }
    }

    
}


@media screen and (max-width: 800px){
    body{
        overflow: hidden;
    }
    main{
        margin: 30px auto;

        .attribution{
            margin-top: 25px;
            line-height: 25px;
    
            .break{
                display: block;
            }
        }
    }

    .card{
        border-radius: 10px;
        height: 570px;
        width: 300px;
        padding: 30px 20px;

        .img{
            margin-bottom: 20px;
            img{
                width: 100px;
            }
        }

        .id{
            margin-bottom: 15px;

            p{
                margin-bottom: 10px;
                font-size: 25px;
            }

            span{
                font-size: 20px;
            }
        }

        p{
            font-size: 10px;
            margin-bottom: 15px;
        }

        .box{
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            .box-item{
                width: 250px;
                margin-bottom: 16px;
                padding: 10px 0;
                border-radius: 5px;
            }
        }
    }

    
}